# INNOMATICS Data Science HIRING CHALLENGE

### import required library

In [1]:
import numpy as np
import pandas as pd

##### Read dataset

In [2]:
data=pd.read_csv("uber_rides_data.csv")

##### Q.1) What is the shape of given dataset?

In [3]:
data.shape  #Shape of the datase

(200000, 8)

In [4]:
data.head(4) #check the data

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3

##### Q.2) How many integer columns(by default) are given in the dataset?

In [5]:
int_columns = data.select_dtypes(include=['int']).columns
num_int_columns = len(int_columns)
print(f"Integer columns(by default) are given in the dataset are:{num_int_columns}")

Integer columns(by default) are given in the dataset are:2

In [6]:
int_columns  #Check the int column name

Index(['ride_id', 'passenger_count'], dtype='object')

##### Q.3) How many missing values exists in 'dropoff_longitude' column?

In [7]:
null_value=data['dropoff_longitude'].isnull().sum()
print(f"Number of missing values exists in 'dropoff_longitude' column are: {null_value}")

Number of missing values exists in 'dropoff_longitude' column are: 1

##### Q.4) What is the data type of ' pickup_datetime' feature in your data?

In [8]:
pickup_datetime_dtype =data['pickup_datetime'].dtype
print(f"The data type of 'pickup_datetime' is: {pickup_datetime_dtype}")

The data type of 'pickup_datetime' is: object

In [9]:
#Alternative method to check for all columns data type
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

##### Q.5) Which of the following is the correct syntax to convert 'pickup_datetime' to datetime datatype?

In [10]:
#Multiple correct
pd.to_datetime(data['pickup_datetime'])

0        2015-05-07 19:52:06+00:00
1        2009-07-17 20:04:56+00:00
2        2009-08-24 21:45:00+00:00
3        2009-06-26 08:22:21+00:00
4        2014-08-28 17:47:00+00:00
                    ...
199995   2012-10-28 10:49:00+00:00
199996   2014-03-14 01:09:00+00:00
199997   2009-06-29 00:42:00+00:00
199998   2015-05-20 14:56:25+00:00
199999   2010-05-15 04:08:00+00:00
Name: pickup_datetime, Length: 200000, dtype: datetime64[ns, UTC]

In [11]:
data['pickup_datetime'].astype('datetime64[ns]')

0        2015-05-07 19:52:06
1        2009-07-17 20:04:56
2        2009-08-24 21:45:00
3        2009-06-26 08:22:21
4        2014-08-28 17:47:00
                 ...
199995   2012-10-28 10:49:00
199996   2014-03-14 01:09:00
199997   2009-06-29 00:42:00
199998   2015-05-20 14:56:25
199999   2010-05-15 04:08:00
Name: pickup_datetime, Length: 200000, dtype: datetime64[ns]

##### Q.6) Which function can be used to remove null values from the dataframe?

In [12]:
data.isnull().sum()

ride_id              0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    1
dropoff_latitude     1
passenger_count      0
dtype: int64

In [13]:
# function can be used to remove null values from the dataframe
df=data.dropna()
df.isnull().sum()

ride_id              0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

##### Q.7) What is the average fare amount?

In [14]:
avg_fare=df['fare_amount'].mean()
print(f" average fare amount: {avg_fare}")

 average fare amount: 11.359891549458371

In [16]:
#We can also use alternative function
df.describe()

,ride_id,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,1.999990e+05,199999.000000,199999.000000,199999.000000,199999.000000,199999.000000,199999.000000
mean,2.771248e+07,11.359892,-72.527631,39.935881,-72.525292,39.923890,1.684543
std,1.601386e+07,9.901760,11.437815,7.720558,13.117408,6.794829,1.385995
min,1.000000e+00,-52.000000,-1340.648410,-74.015515,-3356.666300,-881.985513,0.000000
25%,1.382534e+07,6.000000,-73.992065,40.734796,-73.991407,40.733823,1.000000
50%,2.774524e+07,8.500000,-73.981823,40.752592,-73.980093,40.753042,1.000000
75%,4.155535e+07,12.500000,-73.967154,40.767158,-73.963659,40.768001,2.000000
max,5.542357e+07,499.000000,57.418457,1644.421482,1153.572603,872.697628,208.000000

##### Q.8) Calculate distance between each pickup and dropoff points using Haversine formula. 
##### What is the median haversine distance between pickup and dropoff location according to the given dataset?

In [18]:
from scipy.spatial.distance import cdist

# Define the Haversine distance calculation function
def haversine_distance(lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    '''
    without converting to radians, the results would not be meaningful
    because the trigonometric functions operate on radians. Converting these values to radians 
    before applying trigonometric calculations ensures accurate results
    when measuring distances and angles on the Earth's curved surface.
    '''
    lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])

    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    r = 6371  # Radius of Earth in kilometers
    distance = r * c

    return distance

# Calculate Haversine distance for each row in the dataset
df['haversine_distance'] = haversine_distance(df['pickup_latitude'],df['pickup_longitude'], 
                                              df['dropoff_latitude'], df['dropoff_longitude'])

# Calculate the median Haversine distance
median_distance = df['haversine_distance'].median()

print(f"The median Haversine distance between pickup and dropoff locations is: {median_distance} kilometers")

The median Haversine distance between pickup and dropoff locations is: 2.1209923961833708 kilometers

C:\Users\Admin\AppData\Local\Temp/ipykernel_10800/1273348941.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['haversine_distance'] = haversine_distance(df['pickup_latitude'],df['pickup_longitude'],

##### Q.9) What is the maximum haversine distance between pickup and dropoff location according to the given dataset?

In [19]:
max_distance = df['haversine_distance'].max()
print(f"the maximum haversine distance between pickup and dropoff location according to the given dataset: {max_distance }")

the maximum haversine distance between pickup and dropoff location according to the given dataset: 16409.239135313168

##### Q.10) How many rides have 0.0 haversine distance between pickup and dropoff location according to the given dataset?

In [20]:
# Count the number of rides with 0.0 Haversine distance
zero_distance_rides =df[df['haversine_distance'] == 0.0]
count_zero_distance_rides = len(zero_distance_rides)
print(f"The number of rides with 0.0 Haversine distance between pickup and dropoff locations is: {count_zero_distance_rides}")

The number of rides with 0.0 Haversine distance between pickup and dropoff locations is: 5632

##### Q.11) What is the mean 'fare_amount' for rides with 0 haversine distance?

In [21]:
# Calculate the mean 'fare_amount' for rides with 0.0 Haversine distance
mean_fare_amount = zero_distance_rides['fare_amount'].mean()
print(f"The mean 'fare_amount' for rides with 0.0 Haversine distance is: {mean_fare_amount}")

The mean 'fare_amount' for rides with 0.0 Haversine distance is: 11.585317826704578

##### Q.12) What is the maximum 'fare_amount' for a ride?

In [22]:
max_fare_amount=df['fare_amount'].max()
print(f"The maximum fare_amount for a ride: {max_fare_amount}")

The maximum fare_amount for a ride: 499.0

##### Q.13) What is the haversine distance between pickup and dropoff location for the costliest ride?

In [25]:
# Find the row with the highest 'fare_amount' (the costliest ride)
costliest_ride =df[df['fare_amount'] == df['fare_amount'].max()]

# Extract the coordinates for pickup and dropoff for the costliest ride
pickup_lat = costliest_ride['pickup_latitude'].values[0]
pickup_lon = costliest_ride['pickup_longitude'].values[0]
dropoff_lat = costliest_ride['dropoff_latitude'].values[0]
dropoff_lon = costliest_ride['dropoff_longitude'].values[0]

haversine_distance_costliest = haversine_distance(pickup_lat, pickup_lon, dropoff_lat, dropoff_lon)
print(f"The Haversine distance for the costliest ride is: {haversine_distance_costliest} kilometers")

The Haversine distance for the costliest ride is: 0.0007899213191009994 kilometers

##### Q.14) How many rides were recorded in the year 2014?

In [26]:
# Convert the 'timestamp' column to a datetime
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

rides_2014 =df[df['pickup_datetime'].dt.year == 2014]

# Count the number of rides in 2014
num_rides_2014 = len(rides_2014)

print(f"The number of rides recorded in the year 2014 is: {num_rides_2014}")

The number of rides recorded in the year 2014 is: 29968

C:\Users\Admin\AppData\Local\Temp/ipykernel_10800/2277354707.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

##### Q.15) How many rides were recorded in the first quarter of 2014?

In [27]:
rides_first_quarter_2014 =df[(df['pickup_datetime'].dt.year == 2014) & (df['pickup_datetime'].dt.quarter == 1)]

# Count the number of rides in the first quarter of 2014
num_rides_first_quarter_2014 = len(rides_first_quarter_2014)

print(f"The number of rides recorded in the first quarter of 2014 is: {num_rides_first_quarter_2014}")

The number of rides recorded in the first quarter of 2014 is: 7687

##### Q.17) On which day of the week in September 2010, maximum rides were recorded ?

In [28]:
#Rides in September 2010
rides_september_2010 =df[(df['pickup_datetime'].dt.year == 2010) & (df['pickup_datetime'].dt.month == 9)]

ride_weekday_counts = rides_september_2010['pickup_datetime'].dt.dayofweek.value_counts()

# Find the day of the week with the maximum rides
max_rides_day = ride_weekday_counts.idxmax()  # Index of the maximum count

# Map the index to the day of the week names (0 = Monday, 1 = Tuesday, etc.)
day_of_week_names = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
max_rides_day_name = day_of_week_names[max_rides_day]

print(f"On {max_rides_day_name} in September 2010, the maximum rides were recorded.")
print(ride_weekday_counts)

On Thursday in September 2010, the maximum rides were recorded.
3    457
2    391
5    362
4    354
6    331
1    322
0    265
Name: pickup_datetime, dtype: int64

In [29]:
# Add a new column 'ride_week_day' to the DataFrame
df['ride_week_day'] = rides_september_2010['pickup_datetime'].dt.dayofweek

C:\Users\Admin\AppData\Local\Temp/ipykernel_10800/4056879932.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ride_week_day'] = rides_september_2010['pickup_datetime'].dt.dayofweek

In [30]:
df.head(4)

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,haversine_distance,ride_week_day
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1,1.683323,NaN
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1,2.457590,NaN
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1,5.036377,NaN
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3,1.661683,NaN

#### Q.18) Apply a Machine Learning Algorithm to predict the fare amount given following input features:
##### passenger_count, distance and ride_week_day.

##### Perform a 70-30 split of data.

##### Which algorithm gives the least adjusted R square value?

In [38]:
#Required Libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.metrics import r2_score

In [32]:
# Encode categorical features (e.g., 'ride_week_day')
label_encoder = LabelEncoder()
df['ride_week_day_encoded'] = label_encoder.fit_transform(df['ride_week_day'])

C:\Users\Admin\AppData\Local\Temp/ipykernel_10800/4165343365.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ride_week_day_encoded'] = label_encoder.fit_transform(df['ride_week_day'])

In [33]:
df.head(4)

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,haversine_distance,ride_week_day,ride_week_day_encoded
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1,1.683323,NaN,7
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1,2.457590,NaN,7
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1,5.036377,NaN,7
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3,1.661683,NaN,7

In [34]:
X = df[['passenger_count', 'haversine_distance', 'ride_week_day_encoded']]
y = df['fare_amount']

# Split the data into training and testing sets (70-30 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [35]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [40]:
models = {
    'Linear Regression': LinearRegression(),
    'Random Forest Regression': RandomForestRegressor()
}

In [41]:
adjusted_r_squared_results = {}

for model_name, model in models.items():
    model.fit(X_train_scaled, y_train)
    y_pred = model.predict(X_test_scaled)
    r_squared = r2_score(y_test, y_pred)
    
    # Calculate adjusted R-squared
    n = len(y_test)
    k = X_test.shape[1]
    adjusted_r_squared = 1 - ((1 - r_squared) * (n - 1) / (n - k - 1))
    
    adjusted_r_squared_results[model_name] = adjusted_r_squared

# Find the model with the least adjusted R-squared value
worst_model = min(adjusted_r_squared_results, key=adjusted_r_squared_results.get)

print(f"The algorithm with the least adjusted R-squared value is: {worst_model}")

The algorithm with the least adjusted R-squared value is: Linear Regression